// FONTS
$font: 'Prompt', sans-serif;
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// COLOR
$white: #f8f8f8;
$black: #222222;
$grey-light: #dbdbdb;
$grey-dark: #c8c8c8;
$blue-light: #1b7dda;
$blue-dark: #1462ac;
$green-light: #1ee058;
$green-dark: #1ca846;
$red-light: #e73f29;
$red-dark: #bb321f;

